modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq", "chromium", "glib", "nss", "nspr", "atk", "gtk3", "pango", "cairo", "dbus", "libdrm", "mesa", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libxcb", "alsa-lib", "cups", "libxkbcommon", "openjdk"]

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "./deploy-build.sh"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:1.0.0", "javascript_database:1.0.0", "javascript_stripe:1.0.0", "resend:1.0.0", "javascript_openai_ai_integrations:1.0.0", "javascript_object_storage:1.0.0", "github:1.0.0"]

[userenv]

[userenv.development]
TRINITY_DIALOGUE_ENABLED = "false"
QUICKBOOKS_ENVIRONMENT = "sandbox"
EMAIL_SIMULATION_MODE = "true"
TEST_USERNAME = "statewide-qa@test.local"
TEST_PASSWORD = "TestPassword123!"

[userenv.shared]
DISABLE_SEASONAL_THEMING = "true"
STRIPE_STARTER_MONTHLY_PRICE_ID = "price_1SjqRT8XHrr8nNEqJu0nQMUX"
STRIPE_STARTER_YEARLY_PRICE_ID = "price_1SjqRT8XHrr8nNEqdpGsuSe4"
STRIPE_PROFESSIONAL_MONTHLY_PRICE_ID = "price_1SjqRU8XHrr8nNEq6ICvb1lV"
STRIPE_PROFESSIONAL_YEARLY_PRICE_ID = "price_1SjqRU8XHrr8nNEqeHP06nJx"
STRIPE_EMPLOYEE_SEAT_PRICE_ID = "price_1SjqRV8XHrr8nNEq7ZUQeUq4"
STRIPE_MANAGER_SEAT_PRICE_ID = "price_1SjqRW8XHrr8nNEqEZUNHOfF"
STRIPE_EMPLOYEE_OVERAGE_PRICE_ID = "price_1SjqRV8XHrr8nNEq7ZUQeUq4"
STRIPE_CREDITS_STARTER_PRICE_ID = "price_1SijQe8XHrr8nNEqFkUQZ2DB"
STRIPE_CREDITS_STANDARD_PRICE_ID = "price_1SijQf8XHrr8nNEqI1DsvIfA"
STRIPE_CREDITS_PROFESSIONAL_PRICE_ID = "price_1SijQf8XHrr8nNEqXnATS6N9"
STRIPE_CREDITS_ENTERPRISE_PRICE_ID = "price_1SijQg8XHrr8nNEqWeWyDk6E"
STRIPE_ADDON_CREDITS_PRICE_ID = "price_1SijQf8XHrr8nNEqI1DsvIfA"
STRIPE_SETUP_STARTER_PRICE_ID = "price_1SoTz88XHrr8nNEqxSTqByE0"
STRIPE_SETUP_PROFESSIONAL_PRICE_ID = "price_1SoTz98XHrr8nNEqQcb1FEEb"
STRIPE_SETUP_ENTERPRISE_PRICE_ID = "price_1SoTz98XHrr8nNEqngStjpQt"
MAINTENANCE_BYPASS_SECRET = "f8160ba9000995c2f31660d2805b46fff6dbf71a577121b5633f23065d26ff72"
GITHUB_REPO_URL = "https://github.com/6-7Development/Coaileague.git"
